# Core dependencies
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
httpx
click
h11

# Database
psycopg2-binary

# Auth & Security
python-jose
passlib
python-multipart
PyJWT

# Blockchain
web3
eth-account

# Social Media
tweepy

# Storage & API
supabase
gotrue
postgrest
requests
aiohttp

# Utils
typing-extensions
